footer {

    width: 100%;
    background-color: $footer;
    padding-top: 10px;
    padding-bottom: 20px;
    
    
        ul, a {
            margin: 5px 0 5px 0;
            color: $base_color;
        }

        h1 {
            color: $base_color;            
            padding-left: 40px;
            font-size: 1.3em;
        }            
        
        .fas {
            width: 15px;
            height: 15px;
            margin-right: 10px;            
        }    
}

