/* Header page d'acceuil */
header {

    display: flex;
    flex-direction: column;    
    width: 100%;    
    
       
}
#logo {

    display: flex;
    align-items: center;    
    justify-content: center;
    margin: 20px 0 20px 0;

        .fas {
            position: absolute;
            left: 30px;
            top: 26px;    
            width: 15px;
            height: 15px;
            font-size: 1.5em;
        }
}


.card_menu_img {
    
    border-radius: 0;
    height: 250px;
    object-fit: cover;
    overflow: hidden;  
      
}