/* Header page d'acceuil */
header {

    display: flex;
    flex-direction: column;    
    width: 100%;    
    z-index: 1;
       
}
#logo {

    display: flex;
    align-items: center;    
    justify-content: center;
    margin: 20px 0 20px 0;

        a {
            position: absolute;
            left: 20px;
            top: 20px;    
            width: 15px;
            height: 15px;
        }
}


.card_menu_img {
    
    border-radius: 0;
    height: 250px;
    object-fit: cover;  
      
}