#fonctionnement {

    display: flex;
    flex-direction: column;    
    width: 100%;    
    
        h2 {
            margin-left: 10px;
        }
        
}

/* box de fonctionnement */
.box_a {
    
    @include box;
    @include general_box_shadows;
          
}

.box_b {

    @extend .box_a;    
    background-color: #f5edff;      
}

#restaurant {

    width: 100%;   
    margin-top: 10px;
    padding-top: 20px;
    
        h2 {
            margin-left: 10px;
        }
}

.card_restaurant {
    @include general_box_shadows;       
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    height: 235px;
    margin: 20px 10px 20px 10px;    
    border: 1px solid #eaeaea;   
    border-radius: 10px;  

     &:hover {
        @include general_box_shadows($box-shadow-hover);
     }
    

}

.card_restaurant_img {

    height: 170px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: 100% 100% ;
    object-fit: cover;
}    

.box_new {

    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;    
    background-color: $tertiary;
    color: $new_text;
}
       

.card_restaurant_text {
    display: flex;
    flex-direction: column;    
    border-radius: 0 0 10px 10px;
    margin-top: 0;

        img {                       
            position: absolute;
            width: 20px;
            height: 20px;                            
            right: 22px;
            margin-top: 15px;                   
        }

        h4, p {
            margin: 5px 0 2px 5px; 
                       
        }
}