/* champ de recherche */
#search {
    @include box_shadows_inset_top;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 15px 0;  
    background-color: #eaeaea;    

        .fas {

             margin-right: 20px;
             font-size: 1.3em;
        }

        input {            
            width: 50%;
            font-size: 1.5em;
            font-weight: bold;
            border: none;            
        }
    }

@media only screen and (min-width:600px) {

        #search input {
            width: 20%;
        }
}

.place {

    background-color: #eaeaea    
}



#description {

    padding: 20px 10px;
    background-color: #f6f6f6;    
}

.contain_description {
    display: flex;
    flex-direction: column;       
    align-items: center;
    text-align: center;

        p, h2 {
        font-size: 1.5rem;       
                
        }
}



/* card de fonctionnement */

#fonction {
    
    padding: 20px 10px;
}

.section_title {

    font-size: 1.5em;            
}

.fonction__lists {
    position: relative;    
    counter-reset: countlist;
    padding-left: 20px;
}

.fonction__list--a {

    @include card_fonction;
    @include general_box_shadows;
    background-color: #f6f6f6;

        &::before {
            counter-increment: countlist 1;
            content: counter(countlist) " ";
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary;
            width: 30px;
            height: 30px;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            left: -10px;
        }
}

.fonction__list--b {

    @extend .fonction__list--a;        
    background-color: #f5edff;

     .fas{
        color: $primary;
     }
}



@media only screen and (min-width: 1024px) {

        .head {

            display: flex;
             
            .btn-push {

                margin-top: 30px;
            }

            .contain_description {

                margin-top: 50px;
                padding: 0 30px 0 30px;                
            }

            #description, #fonction {

                width: 50%;
                padding: 20px ;
            }
        }

        .section_title {
            text-align: center;
            font-size: 1.7em;

        }

        .contain {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: center;
            
            .card_restaurant {

                width: 40%;
                margin: 20px;                
            }
        }        
}

#restaurant {

    padding: 20px 10px;
    background-color: #f6f6f6;   
    
        h2 {
            margin-left: 10px;
        }
}

.card_restaurant {
    @include general_box_shadows;       
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    height: 250px;
    margin: 20px 0 20px 0;    
    border: 1px solid #eaeaea;   
    border-radius: 10px;  

     &:hover {
        @include general_box_shadows($box-shadow-hover);
    }
    

}

.card_restaurant_img {

    height: 170px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: 100% 100% ;
    object-fit: cover;
}    

.box_new {

    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;    
    background-color: $tertiary;
    color: $new_text;
}
       

.card_restaurant_text {
    display: flex;
    flex-direction: column;    
    border-radius: 0 0 10px 10px;
    margin-top: 0;

        .far  {                       
              @include hearth;                 
        }

        h4, p {
            font-size: 1.35em;
            margin: 5px 0 2px 15px;                       
        }
}

@media only screen and (min-width: 1024px) {


}