@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.woff2") format("woff2"), url("Roboto-Thin.woff") format("woff"), url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.woff2") format("woff2"), url("fonts/Shrikhand-Regular.woff") format("woff"), url("fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand-Regular", sans-serif;
  font-weight: bold;
}

p, a {
  color: initial;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

span {
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}

#logo {
  width: 100%;
  background-color: white;
  padding: 10px 0 10px 0;
}

/*Base des boutons*/
.btn, .btn-command, .btn-menu, .box_a, .box_b, .btn-push, .btn-place {
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}
.btn img, .btn-command img, .btn-menu img, .box_a img, .box_b img, .btn-push img, .btn-place img {
  width: 15px;
  height: 15px;
}

/* champ de recherche */
.btn-place {
  align-content: center;
  width: 80%;
  height: 40px;
  border: 1px solid #eaeaea;
  font-weight: bold;
  background-color: #eaeaea;
}

/* bouton de recherche */
.btn-push {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60%;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
}

form img {
  height: 15px;
  width: 15px;
}

#fonctionnement {
  width: 100%;
  background-color: white;
  /*padding-left: 20px;*/
}

/* box de fonctionnement */
.box_a, .box_b {
  align-items: center;
  height: 70px;
  width: 90%;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: bold;
}
.box_a img, .box_b img {
  margin: 0 25px 0 25px;
}

.box_b {
  background-color: #f5edff;
}

#restaurant {
  width: 100%;
  background-color: #eaeaea;
  padding-top: 20px;
}
#restaurant h2 {
  margin-left: 10px;
}

.card_restaurant {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 235px;
  margin: 10px;
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 10px;
}

.card_restaurant_img, .card_menu_img {
  height: 170px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: 100% 100%;
  object-fit: cover;
}

.card_restaurant_text {
  background-color: white;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}
.card_restaurant_text img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 22px;
}
.card_restaurant_text h4, .card_restaurant_text p {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 5px;
}

footer {
  width: 100%;
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer ul, footer a {
  margin-bottom: 0;
  color: white;
}
footer h3 {
  color: white;
  padding-left: 40px;
}
footer img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* pages des menus*/
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo a {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 15px;
  height: 15px;
}

.card_menu_img {
  border-radius: 0;
  height: 250px;
}

#menu {
  width: 100%;
  background-color: #c91b1b;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
}
#menu img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
}
#menu h2 {
  margin-left: 20px;
  padding-top: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu h3 {
  margin-bottom: 5px;
}

.lign {
  width: 50px;
  border-bottom: 2px solid #99E2D0;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60px;
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 1px 2px 6px #f6f6f6;
}
.btn-menu h4, .btn-menu p {
  margin: 5px;
}
.btn-menu span {
  position: absolute;
  right: 40px;
}

.btn-command {
  align-items: center;
  width: 50%;
  height: 50px;
  font-weight: bold;
  color: white;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
  border-radius: 50px;
}

/*# sourceMappingURL=style.css.map */
