/* card fontionement*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.woff2") format("woff2"), url("fonts/Roboto-Black.woff") format("woff"), url("fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-light";
  src: url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.woff2") format("woff2"), url("fonts/Shrikhand-Regular.woff") format("woff"), url("fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2, h3, h4 {
  font-family: "Roboto", sans-serif;
}

p, a {
  color: initial;
  text-decoration: none;
  font-family: "Roboto-light", sans-serif;
}

li {
  list-style-type: none;
}

span {
  font-family: "Roboto";
}

/* Le loader de la page d'acceuil*/
.loader {
  display: flex;
  align-items: center;
  position: fixed;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background-color: #99E2D0;
  animation: load 2s ease-in-out forwards;
}

.loader1 {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 180px;
  align-items: center;
  border: 6px solid #99E2D0;
}
.loader1::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 180px;
  border: 20px solid transparent;
  border-left-color: #FF79DA;
  border-right-color: #9356DC;
  animation: spinner 3s linear infinite;
}

.loader2 {
  position: relative;
  margin-left: 45px;
  margin-top: 45px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  align-items: center;
  border: 5px solid #99E2D0;
}
.loader2::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 80px;
  border: 20px solid transparent;
  border-bottom-color: #FF79DA;
  border-top-color: #9356DC;
  animation: spinner 2s linear infinite;
}

@keyframes load {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Le coeur qui se rempli */
@keyframes filling {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
/* deroulement de la page menu */
@keyframes unwinding {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card_1 {
  animation-delay: 0.1s;
}

.card_2 {
  animation-delay: 0.2s;
}

.card_3 {
  animation-delay: 0.3s;
}

.card_4 {
  animation-delay: 0.4s;
}

.card_5 {
  animation-delay: 0.5s;
}

.card_6 {
  animation-delay: 0.6s;
}

.card_7 {
  animation-delay: 0.7s;
}

.card_8 {
  animation-delay: 0.8s;
}

.card_9 {
  animation-delay: 0.9s;
}

.card_10 {
  animation-delay: 1s;
}

/*l'animation des card menu */
@keyframes check-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* bouton de recherche */
.btn-push, .btn-command {
  box-shadow: 3px 3px 8px #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  min-width: 70%;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
  margin-bottom: 40px;
  cursor: pointer;
}
.btn-push:hover, .btn-command:hover {
  box-shadow: 3px 3px 8px #a0a0a0;
  background: linear-gradient(-45deg, #ae80e5, #fface8);
}

/* bouton commander sur les pages menus*/
.btn-command {
  font-weight: bold;
  margin-top: 20px;
  max-width: 70%;
}
.btn-command p {
  color: white;
}

/* pages des menus*/
#menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -30px;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
}

.title_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-style: italic;
}
.title_menu h2 {
  margin: 20px 0 0 20px;
  font-size: 1.4em;
  font-family: "Shrikhand";
  font-style: italic;
}

.like {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.like:hover::before {
  opacity: 1;
}

.like::before {
  content: "";
  opacity: 0;
  transition: 0.6s;
  background: linear-gradient(45deg, #9356DC, #FF79DA);
}

.like::before, .like_icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.like:hover .like_icon--empty {
  opacity: 0;
  animation: filling 1s ease-in-out both;
}

.like_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  mix-blend-mode: lighten;
  border: 1px solid transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-top: 20px;
}
.menu h3 {
  margin-bottom: 5px;
  margin-left: 12px;
  font-size: 1.4em;
}
.menu h4, .menu p {
  margin: 5px 0 5px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3em;
}
.menu h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #99E2D0;
}

.card_menu {
  box-shadow: 3px 3px 8px #d3d3d3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  animation: unwinding 1.5s ease-in-out both;
}
.card_menu .card_menu_text {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.card_menu .card_menu_text h4, .card_menu .card_menu_text p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card_menu .card_menu_price {
  padding: 10px 10px 0 10px;
  transition: 0.5s ease;
}
.card_menu:hover .card_menu_checkbox {
  opacity: 1;
  transform: translateX(0%);
  transition: 0.5s ease;
}
.card_menu:hover .card_menu_price {
  padding-right: 80px;
}
.card_menu:hover .fa-check {
  animation: check-circle 0.5s ease forwards;
}

.card_menu_checkbox {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  opacity: 0;
  right: 0px;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
  color: white;
  transform: translateX(100%);
  transition: 0.5s ease;
}
.card_menu_checkbox .fa-check {
  font-size: 20px;
  border: 20px solide white;
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
}

.contain-btn-command {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

/* Header page d'acceuil */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}
#logo .fas {
  position: absolute;
  left: 30px;
  top: 26px;
  width: 15px;
  height: 15px;
  font-size: 1.5em;
}

.card_menu_img {
  border-radius: 0;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

/* champ de recherche */
#search {
  box-shadow: inset 0 2px 2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: #eaeaea;
}
#search .fas {
  margin-right: 20px;
  font-size: 1.3em;
}
#search input {
  width: 220px;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}

.place {
  background-color: #eaeaea;
}

#description {
  padding: 20px 10px;
  background-color: #f6f6f6;
}

.contain_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contain_description p, .contain_description h2 {
  font-size: 1.5rem;
}

/* card de fonctionnement */
#fonction {
  padding: 20px 10px;
}

.section_title {
  font-size: 1.5em;
}

.fonction__lists {
  position: relative;
  counter-reset: countlist;
  padding-left: 20px;
}

.fonction__list--a, .fonction__list--b {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.35em;
  font-weight: bold;
  margin: 30px 0 30px 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 8px #d3d3d3;
  background-color: #f6f6f6;
}
.fonction__list--a .fas, .fonction__list--b .fas {
  position: absolute;
  left: 50px;
}
.fonction__list--a::before, .fonction__list--b::before {
  counter-increment: countlist 1;
  content: counter(countlist) " ";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.fonction__list--b {
  background-color: #f5edff;
}
.fonction__list--b .fas {
  color: #9356DC;
}

@media only screen and (min-width: 1024px) {
  .head {
    display: flex;
  }
  .head .btn-push, .head .btn-command {
    margin-top: 30px;
  }
  .head .contain_description {
    margin-top: 50px;
    padding: 0 30px 0 30px;
  }
  .head #description, .head #fonction {
    width: 50%;
    padding: 20px;
    background-color: white;
  }

  .section_title {
    text-align: center;
    font-size: 1.7em;
  }

  .contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contain .card_restaurant {
    width: 40%;
    margin: 20px;
  }
}
#restaurant {
  padding: 20px 10px;
  background-color: #f6f6f6;
}
#restaurant h2 {
  margin-left: 10px;
}

.card_restaurant {
  box-shadow: 3px 3px 8px #d3d3d3;
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: 250px;
  margin: 20px 0 20px 0;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.card_restaurant:hover {
  box-shadow: 3px 3px 8px #a0a0a0;
}

.card_restaurant_img {
  height: 170px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: 100% 100%;
  object-fit: cover;
}

.box_new {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #99E2D0;
  color: #008766;
}

.card_restaurant_contain {
  display: flex;
  justify-content: space-between;
}

.card_restaurant_text {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}
.card_restaurant_text .far {
  background-color: white;
}
.card_restaurant_text h4, .card_restaurant_text p {
  font-size: 1.35em;
  margin: 5px 0 2px 15px;
}

footer {
  width: 100%;
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer ul, footer a {
  margin: 5px 0 5px 0;
  color: white;
}
footer h1 {
  color: white;
  padding-left: 40px;
  font-size: 1.3em;
}
footer .fas {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
