/* bouton de recherche */
.btn-push { 

   @include btn;
      
}

/* bouton commander sur les pages menus*/
.btn-command {

    @extend .btn-push;       
    font-weight: bold;    
    margin-top: 20px;
    max-width: 70%;    

        p {            
            color: $base_color;                        
        }         
}