/* bouton de recherche */
.btn-push { 

   @include btn;
      
}

/* bouton commander sur les pages menus*/
.btn-command {

    @extend .btn-push;       
    font-weight: bold;    
    margin: 10px 0 30px 80px;    

        p {            
            color: $base_color;                        
        }         
}