/* pages des menus*/

#menu {
    display: flex;
    flex-direction: column;
    position: relative;    
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    z-index: 1000;  

        .far {
            @include hearth;
            margin-top: -6px;
            right: 30px;            
        }

        h2 {                       
            
            margin: 20px 0 0 20px;
            font-size: 1.5em;        
        }
}




.menu {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-top: 20px;        

        h3 {
            margin-bottom: 5px;
            margin-left: 12px;
            font-size: 1.4em;           
        }

        h4, p {
            margin: 5px 0 5px 5px;            
            white-space: nowrap;
            text-overflow: ellipsis;  
            overflow: hidden;
            font-size: 1.3em           
        }

        span {
            position: absolute;            
            right: 10px;
            bottom: 10px;                          
        }
        
        & h3::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: $tertiary;
        }
}

.card-menu {
    
    @include general_box_shadows;
    display: flex;
    flex-direction: column;    
    flex-wrap: nowrap;
    position: relative;      
    width: 90%;
    height: 30%;    
    border-radius: 10px;
    margin: 10px ;
    cursor: pointer;
    background-color: white;

    .card-menu-text {        
        flex-direction: column;        
    }

    .card-menu-price {
        justify-content: flex-end;        
    }        
}


    
.card-menu-checkbox {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        opacity: 0;
        right: 0px;           
        height: 100%;
        width: 50px;        
        border-radius: 0 10px 10px 0;        
        background-color: $tertiary;
        
            .fas {                
                @include img-check;                            
          
      }
    }

.contain-btn-command {

    display: flex;
    justify-content: center;
    background-color: #f6f6f6;

}




      


        
