/* pages des menus*/

#menu {
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100%;
     
     
     

        img {
            position: absolute;            
            width: 20px;
            height: 30px;            
            right: 20px;
            
        }

        h2 {            
            padding-top: 10px;
            margin: 0 0 0 20px;        
        }
}

.menu {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;        

        h3 {
            margin-bottom: 5px;
            margin-left: 12px;           
        }

        h4, p {
            margin: 5px 0 5px 5px;            
            white-space: nowrap;
            text-overflow: ellipsis;  
            overflow: hidden;           
        }

        span {
            position: absolute;            
            right: 10px;
            bottom: 10px;                          
        }
        
        & h3::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: $tertiary;
        }
}

.card-menu {
    
    @include general_box_shadows;
    display: flex;
    flex-direction: column;    
    flex-wrap: nowrap;
    position: relative;      
    width: 90%;
    height: 30%;    
    border-radius: 10px;
    margin: 10px ;
    cursor: pointer;

    .card-menu-text {        
        flex-direction: column;        
    }

    .card-menu-price {
        justify-content: flex-end;        
    }        
}


    
/*.card-menu-checkbox {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        right: 0px;           
        height: 100%;
        width: 50px;        
        border-radius: 0 10px 10px 0;        
        background-color: $tertiary;
        
            img {                
                @include img-check;                            
                animation: rotate-check 1s  ;                
            }   
            
            :checked   {

                transform: translateX(40px);  
                transform-origin: right  ;        
                transition: transform .6s linear;      
        }
    }
    
    @keyframes rotate-check {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }*/

      


        
