
$base_color: white;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$footer: #353535;
$new_background: #99e2d0;
$new_text: #008766;
$box-shadow-color: #f6f6f6;

$degrade1: linear-gradient(-45deg, $primary,$secondary);
$degrade2: linear-gradient(45deg, $primary,$secondary);

$menu_shadow: box-shadow 3px 3px 9px 5px #f6f6f6;