
$base_color: white;
$primary: #9356DC;
$primary-light: lighten($primary, 10%);
$secondary: #FF79DA;
$secondary-light: lighten($secondary, 10%);
$tertiary: #99E2D0;
$footer: #353535;
$new_background: #99e2d0;
$new_text: #008766;
$box-shadow-color: #d3d3d3;

$degrade1: linear-gradient(-45deg, $primary,$secondary);
$degrade2: linear-gradient(45deg, $primary,$secondary);

$degrade1-hover: linear-gradient(-45deg, $primary-light,$secondary-light);
$degrade2-hover: linear-gradient(45deg, $primary-light,$secondary-light);

$box-shadow-hover: darken($box-shadow-color, 20%);